table, .dash-table {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  width: 100%;
  padding-top: 10px;
}

.dash-th, .dash-td {
  padding: 10px 15px;
}

.tbl-col, .dash-th, .inline {
  color: #191970;
}

.tbl-col, .tbl-col-center {
  vertical-align: top;
}

.inline {
  display: table-cell;
  font-size: 36px;
  vertical-align: top;
  border-bottom: 3px solid #87cefa;
}

img {
  width: 50px;
  height: 50px;
}

.tbl-col {
  width: 20%;
  padding-left: 80px;
}

.dash-table {
  margin: auto;
  border-collapse: collapse;
}

.dash-td {
  color: #4169e1;
  text-align: center;
}

.dash-tr:nth-child(2n) {
  background: #e8edff;
}