<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Отчет</title>
</head>
<body>
    <form method="post">
        <p><select name="manufacture" size="1">
            <option disabled>Выберите хозяйство</option>
            {% for name in names %}
            <option value="{{ name[0] }}">{{ name[1] }}</option>>
            {% endfor %}
        </select>

        <button type="submit">Сформировать отчет</button></p>
    </form>
    {% for msg in get_flashed_messages() %}
        <h4><div class="flash">{{ msg }}</div></h4>
    {% endfor %}
</body>
</html>