<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>Загрузка данных</title>
    </head>
    <body>
        <form enctype="multipart/form-data" method="post" action="{{ url_for('load_data') }}">
            <p><label>Выберите название хозяйства:</label>
            <select size="1" name="manufacture">
                <option value="Асгард">Асгард</option>>
                <option value="Мидгард">Мидгард</option>>
                <option value="Йотунхейм">Йотунхейм</option>>
            </select></p>

            <p><label>Путь к файлу ***_volume.csv:</label>
            <input type="file" name="volume" value="{{ request.files['volume'] }}"></p>

            <p><label>Путь к файлу ***_machine.csv:</label>
            <input type="file" name="machine" value="{{ request.files['machine'] }}"></p>

            <p><button type="submit">Загрузить данные</button></p>
        </form>
        {% for msg in get_flashed_messages() %}
            <h4><div class="flash">{{ msg }}</div></h4>
        {% endfor %}
    </body>
</html>