<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Загрузка данных</title>
</head>
<body>
    <form method="post">
        <p><label>Выберите название хозяйства:</label>
        <select size="1"  name="manufacture">
            <option value="asgard">Асгард</option>>
            <option value="midgard">Мидгард</option>>
            <option value="yotunhame">Йотунхейм</option>>
        </select></p>

        <p><label>Путь к файлу ***_volume.csv:</label>
        <input type="file" name="volume" value="{{ request.form['volume'] }}"></p>

        <p><label>Путь к файлу ***_machine.csv:</label>
        <input type="file" name="machine" value="{{ request.form['machine'] }}"></p>

        <p><button type="submit">Загрузить данные</button></p>
    </form>
</body>
</html>